:root {
  --bg-dark-green-graysh: #38423B;      /* Fundo Seção Serviços/Footer */
  --bg-dark-green: #3D4639;
  --bg-beige: #F3F2EE;           /* Fundo Seções Claras */
  --primary-green: #526F4F;      /* Botões e Destaques */
  --primary-hover: #415A3F;
  --accent-brown: #8C7867;       /* Tons terrosos/dourados */
  --text-light: #F9F9F9;
  --text-dark: #2C2C2C;
  --text-gray: #555555;
  --card-border: rgba(255, 255, 255, 0.1);
  --service-card-brown: #ff64960d;
  
  --max-width: 1200px;
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--text-dark);
  background-color: var(--bg-beige);
  line-height: 1.6;
  overflow-x: hidden;
}

a { text-decoration: none; transition: 0.3s; }
ul { list-style: none; }
img { max-width: 100%; display: block; }

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

/* --- BOTÕES GLOBAIS --- */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: var(--primary-green);
  color: white;
}
.btn-primary:hover { background-color: var(--primary-hover); }

.btn-outline {
  background: transparent;
  border: 1px solid var(--accent-brown);
  color: white;
}
.btn-outline:hover { background: rgba(140, 120, 103, 0.2); }

.btn-outline-dark {
  background: transparent;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}
.btn-outline-dark:hover { background: var(--primary-green); color: white; }
